<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by Bagus Yogatama on 7/20/19 7:37 PM
  ~ Copyright (c) 2019 . All rights reserved.
  ~ Last modified 7/20/19 7:37 PM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lonedev.favouriteapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.lonedev.moviecatalogue.provider.movies.READ_WRITE_MOVIES"/>
    <uses-permission android:name="com.lonedev.moviecatalogue.provider.tvs.READ_WRITE_TVS"/>

    <application
            android:name=".base.BaseApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.lonedev.favouriteapp.ui.favorite.FavoriteActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.lonedev.favouriteapp.ui.details.tvseries.TVSeriesDetailActivity"/>
        <activity android:name=".ui.details.movie.MovieDetailActivity"/>
    </application>

</manifest>